html {
    font-family: 'Roboto', sans-serif;
}

.App {
}

.Container {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Offer {
    flex-grow: 5;
    flex-basis: 120px;
    padding: 5px;
}

.Highlight {
    background-color: #a0ffa0
}

.vs {
    flex-grow: 1;
    flex-basis: 40px;
    margin: auto;
    text-align: center;
}

.OfferPaper {
    padding: 10px;
}